<div class="container">
      
      <!-- <div class="jumbotron"> -->
        <div class="row">
            <div class="col-md-12 col-md-offset-0 col-xs-offset-1">
                <h2>The Fastest way to refer / get reffered.</h2>
                <p class="lead">Let all your friends know about the referral jobs in your company in one shot or ask you friends to refer you when you want to move.</p>
            </div>
        </div>

        <!-- <div class="row">
          
          <div class="button-box" ng-hide="signedIn()">
            <a class="button block" href="#/register">Create Free Account</a>
          </div>
          
        </div> -->
      <!-- </div>  -->  

      <!--
      <div class="row center_div">   
            <div class="col-md-9 col-sm-4 col-xs-12">
                  <form class="form-horizontal" role="form">

                    <div class="form-group">
                      <label class="control-label" for="signup">Sign Up</label>
                    </div>

                    <div class="form-group">  
                      <div>
                        <input type="username" class="form-control" id="name" placeholder="User name">
                      </div>
                    </div>

                    <div class="form-group">  
                      <div>
                        <input type="email" class="form-control" id="email" placeholder="email">
                      </div>
                    </div>

                    <div class="form-group">
                      <div>          
                        <input type="password" class="form-control" id="pwd" placeholder="password">
                      </div>
                    </div>
                    
                    <div class="form-group">        
                      <div>
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </form>
          </div>
        </div>
      -->
      

    </div>

    <div class="container">

      <div class="row text-center features">
        	<div class="col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0">
          		<i class="glyphicon glyphicon-bullhorn"></i>
  			      <h3>Post Referral Jobs</h3>
  			      <p>You can post multiple jobs at once. You can edit or cancel and also give expirary date too. Can share only to your friends or to all as your wish.</p>
	        </div>
		      <div class="col-sm-4 col-xs-6"> 
    		    	<i class="glyphicon glyphicon-pushpin"></i>
    		    	<h3>Browse Referral Jobs</h3>
    		      <p>Browse all the referral jobs and ask for reference. You can ask a question, add a comment and cancel too if you lost interested.</p>
	        </div>	
	        <div class="col-sm-4 col-xs-6">
  	        	<i class="glyphicon glyphicon-send"></i>
  	        	<h3>Get To Inbox</h3>
  	          <p>If all went good get the candidates's resume to your inbox and share to your HR or upload in your company's database.</p>
	        </div>
      </div>	

    </div>

    
