<div class="auth-forms title">
  <h2>Login</h2>
  <form ng-submit="login(user)">
  
    <div class="input-group">
      <div class="input-group-addon">
      	<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </div>
      <input type="email" ng-model="user.email" placeholder="Email" class="form-control" required>
    </div><br>

    <div class="input-group">
      <div class="input-group-addon">
      	<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      </div>
      <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required>
    </div><br> 

    <div>
       <span class="pull-right"><a class="note" href="#/resetPassword">Forgot Password?</a></span>
    </div><br>

    <input type="submit" value="Login" class="btn btn-info">
    <br>
    ------------------------------ OR -------------------------------------
    <br> 
    <input type="submit" value="Login With Facebook" class="btn btn-primary" ng-click="loginWithFB()">

    <div class="modal-footer">
      No account yet? <a class="note" href="#/register">Create Free Account</a>
    </div>

  </form>
</div>
