<div class="row">
	
	<!-- LEFT PANEL -->
	<div>
		<div class="list-group">
				<!-- SEARCH TOOL -->
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</div>
			      <input type="text" ng-model="searchJob" class="form-control" placeholder="Search">
			    </div>	
				</div>
				<!-- TASK LIST -->	
				<a ng-repeat="job in myJobs | filter: {title: searchJob} | orderBy: 'datetime':true" ng-href="#/job/{{job.$id}}">
					<div class="list-group-item">
				        <div class="row-picture">
				            <img class="circle" ng-src="{{currentUser.password.profileImageURL || currentUser.facebook.profileImageURL}}">
				        </div>
				        <div class="row-content">
				            <h4 class="list-group-item-heading">{{job.title | limitTo:50}}{{ job.title.length > 50? "..." : ""}}</h4>
				            <span class="list-group-item-text">
				            	<span am-time-ago="job.datetime"></span>
				            </span>	
				            {{job.references}}
				            {{Object.keys(job.references).length}}
				        </div>
				        <!-- <div class="row-content" style="display:none" showonhoverparent>
                               <span ng-click="setSelecetedJob(job)"><a class="btn btn-primary" href="" data-toggle="modal" data-target="#ediModal">Edit Job</a></span>
                        </div>
				        <div class="row-content" style="display:none" showonhoverparent>
                               <span ng-click="deleteJob(job.jobId)"><a class="btn btn-danger" href="#">Delete</a>
                               </span>
                        </div> -->
				    </div>		    
			    	<div class="list-group-separator"></div>
		    	</a>
		</div>

	</div>

	<!-- <div ng-include="'views/partials/editjob.html'"></div> -->
