<div class="container">
	

	<div class="row" ng-hide="sentMail">
		<div class="col-sm-12">
			<h3>Please enter your email to recover your password.<h3>
        </div>
        <div>
          <input type="email" placeholder="email" ng-model="email"/>
          <button class="btn btn-primary btm-block" ng-click="resetPassword(email)">Submit</button>
        </div>     
	</div>
	

	<div class="row" ng-show="sentMail">
		<div class="col-sm-12">
			<h3>Use temporary password sent to your email and change password.<h3>
        </div>
           
	</div>
</div>