<!-- <div class="modal fade" id="refModal" ng-controller="PopUpController">
  <div class="modal-dialog">
    <div class="modal-content">      

      <div class="panel panel-warning title">

        <div class="panel-heading title">            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
            <h3 class="panel-title">Short Profile</h3>
        </div>

        <div class="panel-body">
          <form ng-submit="askReference()">   
            <input ng-model="user.currentCompany" class="form-control" placeholder="Current Company" required>
            <br>           
            <input type="text" ng-model="user.noticePeriod" class="form-control" placeholder="Notice Period" required>
            <br>          
            <input type="number" ng-model="user.currentCTC" class="form-control" placeholder="Current CTC" required>
            <br>
            <input type="text" ng-model="user.expectedCTC" class="form-control" placeholder="Expected CTC" required>
            <br>
            <input type="submit" value="Ask" class="btn btn-warning">
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->